h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}
.weather-card-whiteSmoke {
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #ddd;
  background-color: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.weather-card-lightCyan {
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #ddd;
  background-color: #e6ffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.weather-card h2 {
  margin-top: 0;
  font-size: 28px;
}

.weather-card p {
  margin: 10px 0;
  font-size: 16px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  .weather-card {
    padding: 15px;
  }
}
