<div
  [class.weather-card-whiteSmoke]= "Math.floor((weather().id - 1) / 2 ) % 2 === 0"
  [class.weather-card-lightCyan] = "Math.floor((weather().id - 1)/ 2) % 2 !==0" >
  @if (weather().condition == "Cloudy") {
    <img [ngSrc]="cloudyDayImage" alt="Cloudy Day" width="100" height="100">
  } @else if (weather().condition == "Rainy"){
    <img [ngSrc]="rainyDayImage" alt="Cloudy Day" width="100" height="100">
  } @else if (weather().condition == "Sunny"){
    <img [ngSrc]="sunnyDayImage" alt="Cloudy Day" width="100" height="100">
  }
  <h2>{{weather().city}}</h2>
  <p><strong>Temperature : </strong> {{weather().temperature}} C</p>
  @switch (weather().condition){
    @case ('Sunny') {<p><strong>Condition : </strong> Sunny</p>}
    @case ('Cloudy') {<p><strong>Condition : </strong> Cloudy</p>}
    @case ('Rainy') {<p><strong>Condition : </strong> Rainy</p>}
    @default {<p><strong>Condition : </strong> Other</p>}
  }
  <p><strong>Humidity :</strong> {{weather().humidity}}% </p>
  <p><strong>Wind Speed :</strong> {{weather().windSpeed}} Km/h </p>
  @if (weather().description) {
    <div (click)="toggle()"><strong>Has Description : yes</strong></div>
  } @else {
    <div><strong>Has Description : No</strong></div>
  }
  @if (expanded) {
    <p>{{weather().description}}</p>
  }
</div>
